.system-population {
  position: relative;
  left: -50px;
  width: 320px;
  height: 84px;
  margin: 5px 5px 5px 0;
  padding: 10px;

  background: $grey-default;
  box-shadow:
    inset 0 0 0 1px $grey-lighter,
    0 0 6px 0 $grey-darker;

  .box-line .yield-box {
    min-width: 90px;
  }

  .progres-container {
    margin-bottom: 5px;
  }

  .tutorial-pointer {
    left: 155px;
    top: -30px;
  }
}
