.chat-container {
  position: absolute;
  top: $navbar-height + 5px;
  left: 5px; width: 300px;
  z-index: $z-chat;
}

.chat-input-box {
  padding: 10px;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(5px);
  will-change: transform;
}

.chat-input {
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  min-height: 40px; max-height: 40px;
  min-width: 100%; max-width: 100%;
  padding: 0 10px;

  font-size: 1.4rem;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, .5);
  background: rgba(0, 0, 0, .2);

  transition: all linear 100ms;

  &:hover, &:focus {
    border: solid 1px rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .4);
  }
}

.chat-messages {
  padding: 10px 10px 0 10px;
  overflow: hidden;

  &.show-1-lines { max-height: 30px; }
  &.show-5-lines { max-height: 110px; }
}

.chat-container:hover > .chat-messages {
  background: rgba(0, 0, 0, .75);
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.chat-message {
  width: 280px;
  font-size: 1.4rem;
  line-height: 20px;
  overflow: hidden;

  strong {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

@each $class, $color in $themes-list {
  .theme-#{$class} {
    .chat-input-box {
      background: transparentize(lighten($color, 20%), 0.9);
    }

    .chat-message strong {
      color: $color;
    }
  }
}
