.navbar-panel-empty {
  background: $grey-default;
  border: solid 1px $grey-light;
  padding: 6px 10px;
  margin: 5px 0 2px 0;

  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: -1px;
}