<div class="content">
  <div class="header-box">
    <h2>Aperçu général</h2>
  </div>
  <p>TODO</p>
</div>

<script type="text/javascript">
  document.getElementById('navbar').classList.toggle('open');
</script>
