import Config

config :rc, Portal.Endpoint, secret_key_base: ""

# Configure your database
config :rc, RC.Repo,
  username: "rcprod",
  password: "",
  database: "rdb",
  port: 7897,
  hostname: "",
  pool_size: 10

config :rc, RC.Mailer,
  api_key: "",
  secret: ""

config :rc, steamworks_web_api_secret: ""
config :stripity_stripe,
  api_key:
    "",
  public_key:
    ""

config :ex_aws, :s3,
  access_key_id: "",
  secret_access_key: "",
  region: "fr-par",
  scheme: "https://",
  host: "s3.fr-par.scw.cloud"
