.toggle {
  label {
    pointer-events: none;

    &[data-on="true"] > .toggle-wrapper {
      box-shadow: 0 8px 14px 0 rgba(darken(#ee5f39, 12%), 0.12);
    }
    &[data-on="true"] > .toggle-wrapper > .selector {
      left: calc(100% - 50px);
      background-color: #ee5f39;
    }
    &[data-on="true"] > .notification > .selected:before {
      content: "enabled";
    }

    .toggle-wrapper {
      position: relative;
      width: 120px;
      height: 60px;
      background-color: #eaeaea;
      border-radius: 999px;
      margin-bottom: 20px;
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 8px 14px 0 rgba(darken(#3957ee, 12%), 0.12);
      .selector {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: #3957ee;
        transition: left 0.25s ease;
        border-radius: 50%;
      }
    }
    .notification {
      font-size: 20px;
      width: 100%;
      .selected:before {
        content: "disabled";
        font-size: 20px;
        border-bottom: 2px solid;
      }
    }
  }

}
