.splashscreen {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: $white-noise $grey-dark;
  color: $white;

  z-index: $z-splashscreen;

  .container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;

    display: flex;

    .logo {
      width: 320px;
      padding-right: 40px;

      img {
        display: block;
        width: 100%;
      }
    }

    .content {
      width: 400px;

      blockquote {
        margin: 0;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      footer {
        position: relative;
        margin-top: 20px;
        padding-left: 25px;
        font-weight: normal;

        &:before {
          position: absolute;
          left: 0px;
          content: '—';
        }
      }
    }
  }
}

.settings {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 200px;

  color: $white;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);

  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;

  z-index: $z-splashscreen;

  ul {
    margin-bottom: 25px;
  }

  li {
    opacity: .75;
    transition: opacity linear 250ms;

    &:hover, &.active {
      opacity: 1;
    }

    &.inactive {
      opacity: .5;

      &:hover {
        opacity: .5;
      }
    }

    &.disabled {
      text-decoration: line-through;
      opacity: .5;

      &:hover {
        opacity: .5;
      }
    }
  }
}
